<%- include("./components/header.ejs") %>
<%- include("./components/style.ejs") %>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/">Cinema</a>
        <input type="checkbox" id="toggler">
        <% if(token){%>
            <div class="user">
                <p>Hi <%= user%></p>
                <a href="/logout">Log out</a>
            </div>
        <%}%>
        <label for="toggler"><i class="ri-menu-line"></i></label>
        <div class="menu">
            <ul class="list">
                <li><a href="/">Home</a></li>
                <%if(!token){%>
                    <li><a href="/render_Log_in">Log in</a></li>
                <%}%>
                <li><a href="#">stam</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="movie col-lg-3">
                <img calss="img" src="<%= movie.image%>">
                <div class="movie-body">
                    <h5 class="movie-title"><%= movie.title%></h5>
                </div>
            </div>
            <div class="dis col-lg-6">
                <div class="movie-text">
                    <h5>description:<%= movie.description%></h5>
                    <h5>ganers:<%= movie.genre%></h5>
                </div>
            </div>
        </div>
    </div>
   
    

</body>
